* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#main-container {
  width: 100vw;
  height: 100vh;
  background-color: #DDDDDD;
  color: inherit;
  display: flex;
  flex-wrap: wrap;
  padding: 100px;
}

i {
  font-size: 3em;
  margin-bottom: .2em;
  padding-right: 3em;
}
